@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css');


html,
body,
#root,
.app{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    @apply text-gray-900;
    letter-spacing: 1px;
}